@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Flavors&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");

@layer components {
  .hoverEffects {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300;
  }

  .hoverPackageEffects {
    @apply transition ease-in-out delay-[400] hover:-translate-y-1 hover:scale-150 duration-[550] hover:drop-shadow-2xl;
  }

  .bluegradient {
    @apply bg-gradient-to-l from-[#55ace2a4]  to-[#6bc4c1a1] bg-opacity-5;
  }

  .bakebegradient {
    @apply bg-gradient-to-r from-[#fef584]  to-[#feb2af] bg-opacity-5;
  }

  .modalgradient {
    @apply bg-gradient-to-b from-[#62c7c079]  to-[#e39aa06b];
  }

  .booknow {
    @apply z-0 absolute top-[45px] right-[12px] w-[71px] h-[39px]
        mobileM:top-[55px] mobileM:right-[15px] mobileM:w-[71px] mobileM:h-[39px]
        mobileL:top-[65px] mobileL:right-[18px] mobileL:w-[71px] mobileL:h-[39px]
        tablet:top-[100px] tablet:right-[10px] tablet:w-[182px] tablet:h-[100.01px]
        laptop:top-[150px] laptop:right-[60px] laptop:w-[182px] laptop:h-[100.01px]
        laptopL:top-[200px] laptopL:right-[100px] laptopL:w-[182px] laptopL:h-[100.01px]
        laptop4k:top-[350px] laptop4k:right-[200px] laptop4k:w-[371px] laptop4k:h-[204px];
  }

  .tfrLettering {
    @apply z-0 absolute top-[15px] 
    tablet:top-[65px] tablet:right-[15px] tablet:max-h-[120px]
    laptop:top-[90px] laptop:right-[15px] laptop:max-h-[120px]
    laptopL:top-[190px] laptopL:right-[15px] laptopL:max-h-[120px]
    laptop4k:top-[300px] laptop4k:right-[15px] laptop4k:max-h-[120px];
  }

  .custom-popup {
    height: auto;
    width: 170px;
    color: #ffffff;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-div:hover {
  background-image: rgba(255, 255, 255, 0.801);
}

.image-cover {
  height: 260px;
}
/*
  -remove the classes below if you have the 'group-hover'property added in your tailwind config file
  -also remove the class from the html template
  */
.content-div:hover .fd-cl {
  opacity: 0;
  transition: 400ms;
}
.content-div:hover .fd-sh {
  opacity: 1;
    transition: 400ms;

}

/* 
mobileS:"320px",
mobileM:"375px",
mobileL:"425px",
tablet:"768px",
laptop:"1024px",
laptopL:"1440px",
laptop4k:'2560px' */
